In [1]:
import tensorflow as tf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

2021-12-30 16:44:45.200853: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2021-12-30 16:44:45.200922: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

In [14]:
(독립, 종속), _ = tf.keras.datasets.mnist.load_data()
print(독립.shape, 종속.shape)

# 독립 = 독립.reshape(60000, 784)
종속 = pd.get_dummies(종속)
print(독립.shape, 종속.shape)

(60000, 28, 28) (60000,)
(60000, 28, 28) (60000, 10)

In [18]:
x = tf.keras.layers.Input(shape=[28, 28])
h = tf.keras.layers.Flatten()(x)
h = tf.keras.layers.Dense(84, activation='swish')(h)
y = tf.keras.layers.Dense(10, activation='softmax')(h)

model = tf.keras.models.Model(x, y)
model.compile(loss='categorical_crossentropy',metrics='accuracy')

In [19]:
model.summary()

Model: "model_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_4 (InputLayer)        [(None, 28, 28)]          0

 flatten_2 (Flatten)         (None, 784)               0

 dense_6 (Dense)             (None, 84)                65940

 dense_7 (Dense)             (None, 10)                850

=================================================================
Total params: 66,790
Trainable params: 66,790
Non-trainable params: 0
_________________________________________________________________

In [20]:
model.fit(독립, 종속, epochs=5)

Epoch 1/5
1875/1875 [==============================] - 6s 3ms/step - loss: 2.6833 - accuracy: 0.8498
Epoch 2/5
1875/1875 [==============================] - 6s 3ms/step - loss: 0.5634 - accuracy: 0.9141
Epoch 3/5
1875/1875 [==============================] - 6s 3ms/step - loss: 0.4795 - accuracy: 0.9280
Epoch 4/5
1875/1875 [==============================] - 6s 3ms/step - loss: 0.4588 - accuracy: 0.9345
Epoch 5/5
1875/1875 [==============================] - 6s 3ms/step - loss: 0.4230 - accuracy: 0.9395

In [21]:
pred = model.predict(독립[0:5])
data = pd.DataFrame(pred).round(2)

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [22]:
종속[0:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1